html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, textarea, p, blockquote, tr, th, td { margin:0; padding:0; }
html, body, div, span, p, a, tr, th, td { color:#afafaf; font-family:'Inconsolata', monospace; line-height:20px; }

html { background-color:#111; background-image:url(../images/tiles.png); height:100%; position:relative; overflow: hidden; }
a:focus { outline:none; }
ul { list-style-type:square; }
input { background-color:#afafaf; border:2px solid #000; color:#111; font-size:1em; margin-top:2px; padding-left:2px; }
h1 { font-size:2.9em; font-weight:400; }

#jsWarning, #keyboardWarning { display:none; font-size:1.5em; line-height:1.5em; margin-top:25%; text-align:center; }
.nojs #jsWarning { display:block; }
#pointAddition { font-size:1.5em; position:absolute; right:-90px; top:0; }

/* The '!important' tags are used to override and preserve jQuery UI's CSS. */
#gameContainer { background-color:#111; border:2px solid #afafaf; display:none; filter:alpha(opacity=100)!important; margin:auto; opacity:1!important; overflow:visible!important; position:relative; }
#canvas { height:100%; overflow:hidden; position:relative; }
#loading { bottom:2px; left:4px; position:absolute; }
#slidingMenu { position:absolute; top:0; width:10000px; }
#credit { position:absolute; top:15px; right:25px; font-size: 0.8em; }
#facebook-like-button { position:absolute; top:45px; right:25px; overflow:hidden; }

.ui-icon-gripsmall-diagonal-se { background-position:-80px -224px; height:15px; width:15px; }

.centerBox { padding-bottom:5px; }
#highScores .back { float:right; }
#highScores, #home, #help, #maps, #maps .levelContainer { float:left; height:100%; }
#home { position: relative; }  /* For when #credit is inserted inside. */
.back, #highScoresView span { margin:1px 5px; }
#help .back, #highScoresView { float:left; }

table { border-collapse:collapse; display:block; margin:40px auto auto; width:425px; }
table td, table th { height:20px; text-align:left; width:75px; }
table td:first-child, table th:first-child { width:50px; }
table td:first-child + td, table th:first-child + th { width:150px; }

#home h1 { height:40px; line-height:43px; text-align:center; }
#mainMenu { height:80px; margin-top:20px; text-align:center; }
#help #instructions { margin:40px auto auto; width:300px; }
#instructions ul { margin-left:15px; }
#selectedDifficulty { float:right; margin:1px 5px; }
#pickUpCtrlInfo { margin:20px auto; text-align:center; width:200px; }
#pickUpCtrlInfo > div { height:20px; position:relative; text-align:left; }
#pickUpCtrlInfo > div div, #pickUpCtrlInfo > div span { position:absolute; right:0; top:0; }

#custom div { margin:auto; text-align:center; }
#custom > div { height:40px; }
#custom > div div { margin-top:7px; }
#custom .ui-slider { cursor:pointer; width:200px; }
#custom .ui-slider a { cursor:pointer; }

#ready { text-align:center; }

#maps { width:4000px; }
#mapsIE7Fix, #maps .level { height:100%; position:relative; width:100%; }

#gameViewUtils { height:100%; left:0; position:absolute; z-index:5; }
#snakeHUD { border-bottom:1px solid #afafaf; height:20px; position:absolute; text-align:center; width:100%; z-index:3; }
#snakeHUD .challengeInfo { left:5px; position:absolute; top:0; }
#snakeHUD #scoreBar { position:absolute; right:5px; top:0; }

#powerUpPlaceHolder { bottom:22px; height:20px; position:absolute; width:100%; z-index:10; }
#powerUpTimeBar { background-color:#afafaf; border:2px solid #111; height:10px; margin:5px auto auto; width:30%; }

#pauseMenu, #gameOver, #countdown { background-color:#afafaf; border:2px solid #111; border-left:none; position:absolute; text-align:center; width:100%; z-index:5; }
#pauseMenu span, #gameOver span, #gameOver label { color:#111; }
#pauseMenu { padding-bottom:3px; }
#gameOver { padding-bottom:10px; }
#ranking span, #congrats { font-size:2em; height:40px; line-height:40px; }
#congrats { color:maroon; display:none; margin-bottom:20px; }
#enterName { height:80px; margin-top:20px; }
#enterName input { height:20px; width:150px; }
#enterName .error { color:maroon; display:none; }

.button:hover, a:hover { text-decoration:none; }
.button { cursor:pointer; text-decoration:underline; }
#countdown { font-size:2em; height:90px; }
#countdown #currentLevel { margin-top:5px; }
#countdown div { color:#111; height:40px; line-height:40px; }

.clear { clear:both; }

/* Game Items */
.snakeSeg, .wall, .head, .pickUp, .explosion { margin:1px 0 0 1px; position:absolute; z-index:1; }
.head { background-color:maroon; border:5px solid #afafaf; height:8px; width:8px; z-index:3; }
.snakeSeg { background-color:#afafaf; height:18px; width:18px; z-index:2; }
.deadSnakeSeg { background-color:maroon!important; }
.wall { border:2px solid #afafaf; color:#afafaf!important; width:14px; height:14px; line-height:14px; text-align:center; }
.pickUp, .explosion { background-image:url(../images/sprites.png); background-size: 129px 81px; }
.pickUp { border:none; height:18px; width:18px; }
.explosion { background-position:0 -20px; height:60px; margin:0; width:60px; z-index:0; }
.smile { background-position:-18px 0; }
.frown { background-position:-36px 0!important; }
.dblPoints { background-position:-90px 0; }
.shrink { background-position:-72px 0; }
.slowTime { background-position:-54px 0; }
.invincible { background-position:-108px 0; }
.portal { background-position:0px 0px; }
